// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.status {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0.25em auto;
  padding: 0;
  border: 1px solid #000;

  &.true {
    background: green;
    color: green;
  }

  &.false {
    background: red;
    color:red;
  }
}

