<!DOCTYPE html>
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}/
  %title Simple CMS Admin
%body
  #header
    %h1 Simple CMS Admin
  #main
    -if !flash[:notice].blank?
      .notice
        = flash[:notice]
    #content
      = yield
  #footer
    %p#copyright
      &copy; RH Designs / Ryan Huber